<div class="container">
  <div class="row">
    <div class="col container">
      <h1>Projects</h1>

      <div class="container">
        <h5>Define a new project here:</h5>
        <form action="/project_add" method="post">
          <div>
            <label for="title">Enter a new Project title:</label>
            <input id="title" class="form-control" type="text" name="title">
          </div>

          <hr></hr>

          <div class="button">
          <button type="submit" name="button">Create Project</button>
          </div>
        </form>
      </div>

      <hr></hr>

      <div>
        <ul>
          <% if @projects != nil %>
              <% @projects.each do |project| %>
              <form id="form_<%= project.id %>" action="/project_management/<%= project.id %>" method="get">
                  <li>
                    <button id="button_project<%= project.id %>" type="submit" name="select" value="<%= project.id %>">Edit: </button><%= project.title %>
                  </li>
                </form>
              <% end %>
          <% end %>
      </ul>
      </div>

    <!-- </div> -->
<!------------------------------------------------->
    <!-- <div class="col container"> -->
      <h1>Volunteers</h1>

      <a href="/volunteer_view"> <button type="button">View Volunteers</button> </a>

      <hr></hr>

      <a href="/volunteer_add"> <button type="button">Add New Volunteers</button> </a>

      <hr></hr>

      <a href="/volunteer_add"> <button type="button">Assign Volunteers</button> </a>

    </div>
  </div>
</div>
