<div class="container">
  <div class="row">
    <div class="col container">
      <h1>Projects</h1>

      <div class="container">
        <h5>Define a new project here:</h5>
        <form action="/" method="post">
          <div>
            <label for="title">Enter a new Project title:</label>
            <input id="title" class="form-control" type="text" name="title" placeholder="Project title" pattern="[A-Za-z0-9\s]{1,128}" required title="No special characters.">
          </div>

          <hr></hr>

          <div class="button">
          <button type="submit" name="button">Create Project</button>
          </div>
        </form>
      </div>

      <hr></hr>

      <div>
        <ul>
          <% if @projects != nil %>
              <% @projects.each do |project| %>
                  <li>
                    <a href="/projects/<%= project.id %>"><%= project.id %>, <%= project.title %></a>
                  </li>
              <% end %>
          <% end %>
      </ul>
      </div>

    </div>
<!------------------------------------------------->
    <div class="col container">
      <h1>Volunteers</h1>
      <h5>Add a new volunteer here:</h5>
      <form action="/volunteer" method="post">
        <div>
          <label for="name">Enter a new Volunteer Name:</label>
          <input id="name" class="form-control" type="text" name="name" placeholder="Last, First" pattern="[A-Z][a-z]+[/,][\s][A-Z][a-z]+" required title="Please put in a proper 'Lastname, Firstname'">
        </div>

        <hr></hr>

        <div class="button">
        <button type="submit" name="button">Create Volunteer</button>
        </div>
      </form>

      <hr></hr>

      <div>
        <ul>
          <% if @volunteers != nil binding.pry%>
              <% @volunteers.each do |volunteer| %>
                  <li>
                    <a href="/volunteers/<%= volunteer.id %>"><%= volunteer.id %>, <%= volunteer.name %>,
                      <% if volunteer.project_id != 0 %>
                      <%= volunteer.project_id %>
                      <% else %>
                      No project assigned
                      <% end %>
                    </a>
                  </li>
              <% end %>
          <% end %>
      </ul>
      </div>

    </div>
  </div>
</div>
