<div class="container">
  <div class="row">
    <div class="col container">
      <h1>Projects</h1>

      <div class="container">
        <h5>Define a new project here:</h5>
        <form action="/" method="post">
          <div>
            <label for="title">Enter a new Project title:</label>
            <input id="title" class="form-control" type="text" name="title" placeholder="Enter a new Project title" pattern="[A-Za-z0-9\s]{1,128}" required title="No special characters.">
          </div>

          <hr></hr>

          <div class="button">
          <button type="submit" name="button">Create Project</button>
          </div>
        </form>
      </div>

      <hr></hr>

      <div>
        <% if @current_projects != nil %>
        <p><b>current project id: </b><%=@current_project.id%></p>
        <p><b>current project title: </b><%=@current_project.title%></p>
        <%end%>

        <ul>
          <% if @projects != nil %>
              <% @projects.each do |project| %>
                  <li>
                    <a href="/projects/<%= project.id %>"><%= project.id %>, <%= project.title %></a>
                  </li>
                </form>
              <% end %>
          <% end %>
      </ul>
      </div>

    <!-- </div> -->
<!------------------------------------------------->
    <!-- <div class="col container"> -->
      <h1>Volunteers</h1>

      <a href="/volunteer_view"> <button type="button">View Volunteers</button> </a>

      <hr></hr>

      <a href="/volunteer_add"> <button type="button">Add New Volunteers</button> </a>

      <hr></hr>

      <a href="/volunteer_add"> <button type="button">Assign Volunteers</button> </a>

    </div>
  </div>
</div>
