<div class="container">
  <div class="row">
    <div class="col container">
      <h1>Projects</h1>

      <div class="container">
        <h5>The name of the current project is:</h5>
        <p><b>id: </b><%=@current_project.id%></p>
        <p><b>title: </b><%=@current_project.title%></p>

      </div>

      <hr></hr>

      <div>

        <a href="/projects/<%=@current_project.id%>/edit">Edit Project</a>

      </div>

      <hr></hr>

      <div>
        <h6>List of volunteers currently assigned to this project:</h6>
        <ul>
          <li><b>id# - name - project_id</b></li>
          <% if @current_volunteers != nil %>
              <% @current_volunteers.each do |volunteer| %>
                  <li>
                    <a href="/volunteers/<%= volunteer.id %>/edit"><%= volunteer.id %>, <%= volunteer.name %>,
                      <% if volunteer.project_id != 0 %>
                      <%= volunteer.project_id %>
                      <% else %>
                      No project assigned
                      <% end %>
                    </a>
                  </li>
              <% end %>
          <% else %>
            <li>There are currently no volunteers assigned.</li>
          <% end %>
        </ul>
      </div>

      <hr></hr>



      <hr></hr>

      <a href="/">Index</a>

    </div>
  </div>
</div>
